@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.global-text {
  background: linear-gradient(135deg, #ff6a00, #ee0979, #00c9ff, #9d50bb);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

:root {
  --nav-bg: lightblue;
  --btn-color: #000;
  --box-shadow: grey;
  --body-bg: #fff;
  --heading-skills: coral;
  --input-color: #000;
  --btn-border: #000;
  --input-focus: #fff;
  --label-focus: #000;
  --footer-text: #000;
  --scrollbtn-bg: #000;
  --scrollbtn-color: #fff;
  --heading: #000;
  --arrow-color: invert(1);
  --sending-bg: rgba(255, 255, 255, 0.5);
}
:root[data-theme=dark] {
  --nav-bg: black;
  --btn-color: white;
  --box-shadow: white;
  --body-bg: #212121;
  --heading-skills: #fff;
  --input-color: white;
  --btn-border: grey;
  --input-focus: #212121;
  --label-focus: #fff;
  --footer-text: grey;
  --scrollbtn-bg: white;
  --scrollbtn-color: black;
  --heading: #fff;
  --arrow-color: invert(0);
  --sending-bg: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
}

.mainsection {
  margin: 85px 20px 20px;
}
.mainsection #home,
.mainsection #aboutme,
.mainsection #skills,
.mainsection #projects,
.mainsection #contactMe {
  scroll-margin-top: 95px;
}
.mainsection .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sending-bg);
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
}
.mainsection .overlay .sending {
  color: var(--input-color);
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
.mainsection .overlay .sending .dots span {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
  animation: blink 1s infinite;
}
.mainsection .overlay .sending .dots span:nth-child(1) {
  animation-delay: 0s;
}
.mainsection .overlay .sending .dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.mainsection .overlay .sending .dots span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0%, 20% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.mainsection .show {
  display: flex;
  opacity: 1;
}
.mainsection .heading {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.mainsection .heading::before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  transform: skewX(100deg);
}
.mainsection .home {
  text-align: center;
  font-family: "poppins", sans-serif;
}
.mainsection .home img {
  width: 45%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .mainsection .home img {
    width: 27%;
    height: auto;
  }
}
.mainsection .home h1 {
  padding: 10px 0;
}
.mainsection .home .known-skills {
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  gap: 7px;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.mainsection .home .known-skills h3 {
  color: var(--heading-skills);
  font-size: 25px;
}
.mainsection .home .known-skills .languages {
  height: 32px;
  overflow: hidden;
}
.mainsection .home .known-skills .languages span {
  display: block;
  height: 2rem;
  color: aqua;
  line-height: 2rem;
  animation: slide 5s infinite;
}
@keyframes slide {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}
.mainsection .home .icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}
.mainsection .home .icons img {
  width: 37px;
  height: 37px;
  border: 1px solid grey;
  padding: 5px;
}
.mainsection .home .icons img:hover {
  box-shadow: 0px 0px 10px gray;
}
.mainsection .aboutme {
  margin-top: 60px;
  border: 1px solid grey;
  box-shadow: 0px 0px 7px gray;
  border-radius: 10px;
  font-family: "poppins", sans-serif;
  font-weight: 100;
  padding: 20px;
}
@media (min-width: 768px) {
  .mainsection .aboutme {
    margin: 70px 50px;
  }
}
@media (min-width: 768px) {
  .mainsection .aboutme .details {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .mainsection .aboutme .details .mydetails {
    flex-basis: 65%;
  }
}
.mainsection .aboutme .details .mydetails p {
  font-size: 13px;
  color: grey;
  letter-spacing: 0.4px;
  text-align: justify;
  text-indent: 40px;
}
@media (min-width: 576px) {
  .mainsection .aboutme .details .mydetails p {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .mainsection .aboutme .details .mydetails p {
    padding-top: 16px;
  }
}
.mainsection .aboutme .details .mydetails p span {
  font-size: 20px;
  color: #ee0979;
}
.mainsection .aboutme .details .profile-image {
  display: none;
}
@media (min-width: 768px) {
  .mainsection .aboutme .details .profile-image {
    display: block;
    flex-basis: 30%;
    margin: 20px;
  }
  .mainsection .aboutme .details .profile-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 10%;
  }
}
.mainsection .skills-section h2 {
  letter-spacing: 1px;
  font-family: "poppins", sans-serif;
}
.mainsection .skills-section .carousel {
  position: relative;
}
.mainsection .skills-section .carousel .carousel-inner {
  padding: 20px 0px 10px;
}
@media (min-width: 768px) {
  .mainsection .skills-section .carousel .carousel-inner {
    padding: 30px 0px 20px;
  }
}
.mainsection .skills-section .carousel .carousel-inner .carousel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.mainsection .skills-section .carousel .carousel-inner .carousel-images img {
  border-radius: 10px;
  transition: all 0.4s ease;
  z-index: 1;
}
.mainsection .skills-section .carousel .carousel-inner .carousel-images .center-img {
  width: 120px;
  height: 120px;
  z-index: 2;
}
@media (min-width: 576px) {
  .mainsection .skills-section .carousel .carousel-inner .carousel-images .center-img {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 768px) {
  .mainsection .skills-section .carousel .carousel-inner .carousel-images .center-img {
    width: 195px;
    height: 195px;
  }
}
@media (min-width: 1024px) {
  .mainsection .skills-section .carousel .carousel-inner .carousel-images .center-img {
    width: 220px;
    height: 220px;
  }
}
.mainsection .skills-section .carousel .carousel-inner .carousel-images .side-img {
  width: 100px;
  height: 100px;
  z-index: 1;
}
@media (min-width: 576px) {
  .mainsection .skills-section .carousel .carousel-inner .carousel-images .side-img {
    width: 120px;
    height: 120px;
  }
}
@media (min-width: 768px) {
  .mainsection .skills-section .carousel .carousel-inner .carousel-images .side-img {
    width: 160px;
    height: 160px;
  }
}
@media (min-width: 1024px) {
  .mainsection .skills-section .carousel .carousel-inner .carousel-images .side-img {
    width: 180px;
    height: 180px;
  }
}
.mainsection .skills-section .carousel .carousel-inner .carousel-images .side-img.left {
  transform: translateX(20px) scale(0.9);
  z-index: 1;
}
.mainsection .skills-section .carousel .carousel-inner .carousel-images .side-img.right {
  transform: translateX(-20px) scale(0.9);
  z-index: 1;
}
.mainsection .skills-section .carousel .carousel-control-prev,
.mainsection .skills-section .carousel .carousel-control-next {
  top: -25px;
  bottom: auto;
  width: auto;
  height: auto;
  color: green;
}
.mainsection .skills-section .carousel .carousel-control-prev .carousel-control-prev-icon,
.mainsection .skills-section .carousel .carousel-control-prev .carousel-control-next-icon,
.mainsection .skills-section .carousel .carousel-control-next .carousel-control-prev-icon,
.mainsection .skills-section .carousel .carousel-control-next .carousel-control-next-icon {
  filter: var(--arrow-color);
}
@media (min-width: 576px) {
  .mainsection .skills-section .carousel .carousel-control-prev,
  .mainsection .skills-section .carousel .carousel-control-next {
    top: 0;
  }
}
.mainsection .skills-section .carousel .carousel-control-prev {
  right: 40px;
  left: auto;
}
@media (min-width: 576px) {
  .mainsection .skills-section .carousel .carousel-control-prev {
    left: 0;
    right: auto;
    top: 40%;
  }
}
.mainsection .skills-section .carousel .carousel-control-next {
  right: 10px;
}
@media (min-width: 576px) {
  .mainsection .skills-section .carousel .carousel-control-next {
    top: 40%;
  }
}
.mainsection .projects p {
  font-size: 13px;
  color: grey;
  letter-spacing: 0.4px;
  text-align: justify;
  text-indent: 40px;
}
@media (min-width: 576px) {
  .mainsection .projects p {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .mainsection .projects p {
    padding-top: 16px;
  }
}
.mainsection .projects p span {
  font-size: 20px;
  color: #ee0979;
}
.mainsection .projects .btn {
  display: block;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 25px auto 0px;
  transition: all 0.1s ease-in-out;
  border: 1px solid var(--btn-border);
  color: var(--btn-color);
  display: flex;
  gap: 5px;
  align-items: center;
}
.mainsection .projects .btn:active {
  transform: scale(0.98);
}
.mainsection .projects .btn i {
  font-size: 15px;
}
.mainsection .contactme {
  margin-bottom: 60px;
}
.mainsection .contactme .pop {
  position: fixed;
  top: 10.1%;
  left: -100%;
  transform: translateX(-50%);
  border: 1px solid grey;
  background-color: lightgreen;
  font-size: 12px;
  color: black;
  width: 75%;
  padding: 7px;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 0px 0px 10px grey;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
  z-index: 999;
}
@media (min-width: 576px) {
  .mainsection .contactme .pop {
    width: 55%;
    font-size: 14px;
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .mainsection .contactme .pop {
    width: 40%;
    font-size: 15px;
  }
}
.mainsection .contactme .open {
  left: 50%;
}
.mainsection .contactme .contact {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .mainsection .contactme .contact {
    padding: 25px;
  }
}
.mainsection .contactme .contact form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 35px;
}
@media (min-width: 768px) {
  .mainsection .contactme .contact form {
    grid-template-columns: repeat(2, 1fr);
  }
}
.mainsection .contactme .contact .input-details {
  position: relative;
}
.mainsection .contactme .contact .input-details input,
.mainsection .contactme .contact .input-details textarea {
  width: 100%;
  outline: none;
  padding: 15px;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 14px;
  color: var(--input-color);
}
@media (min-width: 768px) {
  .mainsection .contactme .contact .input-details input,
  .mainsection .contactme .contact .input-details textarea {
    font-size: 17px;
  }
}
.mainsection .contactme .contact .input-details input:focus,
.mainsection .contactme .contact .input-details textarea:focus {
  border: 1px solid var(--heading);
}
.mainsection .contactme .contact .input-details input:not(:-moz-placeholder) + label, .mainsection .contactme .contact .input-details textarea:not(:-moz-placeholder) + label {
  top: -10px;
  left: 10px;
  background-color: var(--input-focus);
  padding: 0px 4px;
  color: var(--label-focus);
}
.mainsection .contactme .contact .input-details input:focus + label, .mainsection .contactme .contact .input-details input:not(:placeholder-shown) + label,
.mainsection .contactme .contact .input-details textarea:focus + label,
.mainsection .contactme .contact .input-details textarea:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  background-color: var(--input-focus);
  padding: 0px 4px;
  color: var(--label-focus);
}
.mainsection .contactme .contact .input-details input.error,
.mainsection .contactme .contact .input-details textarea.error {
  border: 1px solid red;
  box-shadow: 0px 0px 5px red;
}
.mainsection .contactme .contact .input-details input.error:focus,
.mainsection .contactme .contact .input-details textarea.error:focus {
  border: 1px solid red;
  box-shadow: 0px 0px 5px red;
}
.mainsection .contactme .contact .input-details label {
  position: absolute;
  left: 17px;
  top: 17px;
  transition: all 0.2s ease-in-out;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: grey;
}
.mainsection .contactme .contact .text-area textarea {
  height: 120px;
  max-height: 200px;
}
.mainsection .contactme .contact .text-area textarea::-webkit-scrollbar {
  display: none;
}
@media (min-width: 768px) {
  .mainsection .contactme .contact .text-area {
    grid-column: span 2;
  }
}
.mainsection .contactme .contact .btn {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--btn-border);
  color: var(--btn-color);
  text-transform: capitalize;
  display: flex;
  gap: 5px;
  align-items: center;
}
.mainsection .contactme .contact .btn i {
  font-size: 15px;
}
@media (min-width: 768px) {
  .mainsection .contactme .contact .btn {
    grid-column: span 2;
  }
}
.mainsection .contactme .contact .btn:active {
  transform: scale(0.98);
}/*# sourceMappingURL=mainsection.css.map */