@mixin query($breakpoint) {
    @if($breakpoint =="md") {
        @media(min-width:768px) {
            @content;
        }
    }

    @else if ($breakpoint =='lg') {
        @media(min-width:1024px) {
            @content;
        }
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.global-text {
        background: linear-gradient(135deg, #ff6a00, #ee0979, #00c9ff, #9d50bb);
        background-clip: text;
        color: transparent
    }

$light-theme : (nav-bg: lightblue,
    btn-color:#000,
    box-shadow:grey,
    body-bg: #fff,
    heading-skills: coral,
    input-color:#000,
    btn-border:#000,
    input-focus:#fff,
    label-focus:#000,
    footer-text: #000,
    scrollbtn-bg: #000,
    scrollbtn-color: #fff,
    heading:#000,
);

$dark-theme : (nav-bg:black,
    btn-color:white,
    box-shadow:white,
    body-bg:#212121,
    heading-skills:#fff,
    input-color:white,
    btn-border:grey,
    input-focus:#212121,
    label-focus:#fff,
    footer-text:grey,
    scrollbtn-bg:white,
    scrollbtn-color:black,
    heading:#fff,
);


:root {
    @each $name, $color in $light-theme {
        --#{$name}: #{$color};
    }

    &[data-theme='dark'] {
        @each $name, $color in $dark-theme {
            --#{$name}: #{$color};
        }
    }
}